[Unit]
Description=Starts awesome blog

[Service]
ExecStart=/bin/sh -c "exec java -jar /var/www/forest-community-blog/server/app.jar"
Type=simple
EnvironmentFile=/etc/profile.d/forest-community-blog

[Install]
WantedBy=multi-user.target
