# {{ ansible_managed }}

server {
  listen 80;
  location / {
    root /var/www/forest-community-blog/client/static/public;
  }
  location /api {
    proxy_pass http://localhost:3000;
  }
  location /uploads {
    alias /var/www/forest-community-blog/uploads;
  }
}
